 /* Root Varibles */

 :root {
   --bg-clr: #fff;
   --white-font: #fff;
   --black-font: #000;
   --other-font-1: #363636;
   --other-font-2: #1C1C1C;
   --other-font-3: #696969;
   --other-font-4: #EF4F5F;
   --other-font-5: #4F4F4F;
   --other-font-6: #9C9C9C;
   --btn-bg: #EF4F5F;
 }

 /* Reset CSSS */

 html {
   /* font-size: 10px; */
   font-family: Helvetica, sans-serif;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* overflow-x: hidden; */
 }

 /* Common Class */

 .PageContainer {
   margin: 0 auto;
   width: auto;
 }

 /* Common Class Responsive Style */
 @media only screen and (min-width: 1200px) {
   .PageContainer {
     width: 1200px;
   }
 }